<div class="w-60 my-5 d-flex justify-content-center">
   <div class="cards p-4">
    <div class="text-center mb-4">
      <h2>Create a new meeting</h2>
    </div>
      <%= simple_form_for [@bookclub, @meeting] do |f| %>
      <%= f.input :book_id, collection: Book.all, label_method: lambda {|book| "#{book.author} - #{book.title}"}, prompt: "Search book by title" %>
      <%= f.input :date_time, label: "Meeting date", as: :datetime, html5: true  %>
      <%= f.input :video_link, label: "Virtual meeting link"%>
      <%= f.input :location, label: "Meeting location" %>
      <div class="d-flex justify-content-around">
         <%= f.submit "Create meeting", class: "button btn btn-light"%>
      </div>
      <% end %>
   </div>
</div>
