<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url "banner_home" %>);">
  <div class="container">
    <div class="d-flex flex-direction-column justify-content-between">
      <div class="white">
      </div>
      <div class="mt-4">
        <div class="container">
          <h1 class="text-white"><strong>Read a Book. Together.</strong></h1>
          <div class="mt-2">
            <p style="margin-bottom: 0">Connect Through Words, Virtually and In Person.</p>
          </div>
          <div class="mt-3">
            <%= link_to "Start a Bookclub", new_bookclub_path, class: "button shadow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="cards-home">
    <div class="d-flex justify-content-center m-3">
      <h4>Join a Book Club</h4>
    </div>
    <div class="row">
      <% @bookclubs.each do |bookclub| %>
        <div class="col cards mt-1 shadow p-4 m-4">
          <div class="h-100">
            <div class="content">
              <div class="row position-relative">
                <div class="col-12 justify-content-center">
                  <% if bookclub.photo.attached? %>
                    <%= cl_image_tag bookclub.photo.key, height: 140, width: 140, class: "rounded-circle mb-4" %>
                  <% end %>
                </div>
                <% if bookclub.bookclub_members.find_by(user: current_user).present? %>
                  <% if bookclub.bookclub_members.find_by(user: current_user).admin? %>
                    <i class="crown-home fa-solid fa-crown fa-lg" style="color: #ffd700;"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="row">
                <div class="content-text mt-2">
                  <h5 class="mb-4 text-center"><%= bookclub.name %></h5>
                  <% if bookclub.description.chars.count > 300 %>
                    <p>
                      <%= bookclub.description.first(300) + "..." %>
                    </p>
                  <% else %>
                    <p class="py-2 ps-3"><%= bookclub.description %></p>
                  <% end %>
                </div>
                <% if bookclub.books.present? %>
                  <p class="text-center mt-4"><strong>Currently Reading</strong></p>
                  <div class="w-50 mx-auto mb-3">
                    <%=image_tag bookclub.books.last.image_link %>
                  </div>
                <% else %>
                  <p class="text-center mt-4"><strong>Currently not reading a book.</strong></p>
                  <div>
                    <%= image_tag "empty-shelf.png", class: "shelf-home mb-3 d-block mx-auto" %>
                  </div>
                <% end %>
                <div class="d-flex flex-column justify-content-center mt-3">
                  <% if bookclub.bookclub_members.where(user: current_user).empty? %>
                    <div class="d-flex flex-column text-center justify-content-end">
                      <div>
                        <%= link_to "Join", join_bookclub_path(bookclub), class: "button" %>
                      </div>
                      <%= link_to "Learn More", bookclub_path(bookclub), class: "learn-btn pt-3 text-decoration-none w-auto" %>
                    </div>
                  <% else %>
                    <div class="text-center">
                      <%= link_to "Learn More", bookclub_path(bookclub), class: "learn-btn pt-3 text-decoration-none w-auto" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center p-5">
      <%= link_to "Browse all", bookclubs_path, class: "button-secondary" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <h4>Recommendations</h4>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <p class="text-center">June's Must-Reads: Dive into Enchanting Stories. Click for Literary Bliss!</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto col-sm-6 col-12 mb-4 text-center">
      <% @meetings.each do |meeting| %>
        <a href="<%= book_path(meeting.book.id) %>" class="p-2">
          <%= image_tag(meeting.book.image_link, style: "width: 150px; height: auto; box-shadow: 0px 0px 5px grey;", class: "zoom-effect") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
