<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dhvsyhahj/image/upload/v1685650176/banner_cover.jpg');">
   <div class="container">
      <div class="row">
         <div class="col6 mt-5 d-flex flex-column text-center">
            <h1><strong>Read a Book Together</strong></h1>
            <p>Start or join a Bookclub. Schedule virtual and in-person meetings.</p>
            <div>
               <%= link_to "Start a Bookclub", new_bookclub_path, class: "button" %>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container mt-5">
   <div class="cards-home">
      <div class="row">
         <% @bookclubs.each do |bookclub| %>
         <div class="col cards mt-1 shadow p-4 m-4">
            <div class="h-100">
              <div class="content">
               <% if bookclub.photo.attached?%>
                <%= cl_image_tag bookclub.photo.key, height: 100, class: "rounded-circle  shadow mb-3" %>
               <% end %>
               <h5><%= bookclub.name %></h1>
               <div class="content-text mt-2">
                  <% if bookclub.description.chars.count > 300 %>
                    <%= bookclub.description.first(300) + "..." %>
                  <% else %>
                    <p class="p-1"><%= bookclub.description %></p>
                <% end %>
               </div>
               <div class="d-flex flex-column justify-content-around mt-3">
                  <%= link_to "Join", join_bookclub_path(bookclub), class: "button" %>
                  <%= link_to "Learn More", bookclub_path(bookclub), class: "learn-btn pt-3 text-decoration-none" %>
               </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center p-5">
         <%= link_to "Browse all", bookclubs_path, class: "button-secondary" %>
      </div>
   </div>
</div>
