<div class="container mt-5">
  <div class="d-flex justify-content-center mb-4">
    <h1>List of Books</h1>
  </div>
  <div class=" d-flex justify-content-center">
    <%= form_with url: books_path, method: :get, class: "d-flex w-50" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control flex-grow-1 rounded-pill",
            placeholder: "Search Books by Title or Author"
        %>
      <%= submit_tag "Search", name: "", class: "button border-0 mx-2" %>
    <% end %>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-8 mx-auto">
        <% @books.each_with_index do |book, index| %>
          <% color = index.even? ? "even-color" : "odd-color"%>
          <div class="cards d-flex p-5  <%= color %>">
            <div>
              <%= image_tag book.image_link, height: 200, class: "shadow mb-3" %>
              <div class="justify-content-end mt-3">
                <p> Buy the Book:</p>
                <%= link_to "https://www.amazon.co.uk/s?k=#{book.identifier}", method: :post do %>
                  <i class="fa-brands fa-amazon fa-xl  ms-3" style="color: #272a34;"></i>
                <% end %>
              </div>
            </div>
            <div class="d-flex flex-column ms-5">
              <h3><%= book.title %></h3>
              <div class="pt-2">
                <p><%= book.author %></p>
              </div>
              <div class="pt-2">
                <p><%= book.year %></p>
              </div>
              <div class="pt-4">
                <p><%= book.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
