<div class="container">
  <div class="row justify-content-center">
    <div class="card col-8 d-flex flex-column mx-auto p-4">
  <div>
    <%= @bookclub.name %>
  </div>
  <% if @book.present? %>
    <div>
      <%= image_tag @book.image_link, height: 200, class: "shadow mb-3" %>
      <%= @book.title %>
      <%= @book.author %>
      <%= @book.description %>
      <%= @book.year %>
    </div>
  <% end %>
</div>
