<!-- (A) LOAD CSS + JS -->
<link href="tabs.css" rel="stylesheet">
<script src="tabs.js"></script>

<!-- (B) TABS WRAPPER -->
<div class="tabs">
  <!-- (B1) HEADERS -->
  <div class="tabHead">
    <p>Next meeting</p>
    <p>Books we've read</p>
  </div>

  <!-- (B2) CONTENTS -->
  <div class="tabBody">
    <div class="cards-tab col-8 d-flex flex-column mx-auto p-4 mb-5 mx-3">
      <div class="d-flex justify-content-between">
        <p><strong>Next meeting details:</strong></p>
      </div>
      <div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
        <div>
          <% if @current_meeting.present? %>
            <div>
              <%= @current_meeting.location %>
            </div>
            <div>
              <%= @current_meeting.video_link %>
            </div>
            <div>
              <%= @current_meeting.date_time %>
            </div>
          </div>
          <div class="d-flex">
            <% if @current_meeting.pending? %>
              <div class="d-flex">
                <%= link_to "yes", meeting_accept_path(@current_meeting), data: {turbo_method: :post}, class: "button-meet mx-2" %>
                <%= link_to "no", meeting_decline_path(@current_meeting), data: {turbo_method: :post}, class: "button-meet" %>
              </div>
            <% elsif @current_meeting.declined? %>
              <div class="d-flex">
                <div class="button-meet mx-3">declined</div>
              </div>
            <% else @current_meeting.accepted? %>
              <div class="d-flex">
                <div class="button-meet mx-3">accepted</div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
